.widget-content a.add_field_upload_media_widget {
    font-size: 20px;
    text-decoration: none;
    margin-left: 5px;
    background: #0073aa;
    color: #fff;
    padding: 0px 5px;
    line-height: 20px;
    vertical-align: sub;
}
.widget-content a.sisw_upload_image_media {
    font-size: 12px;
    text-decoration: none;
    margin-left: 5px;
    background: #0073aa;
    color: #fff;
    padding: 5px 9px;
    line-height: 20px;
    vertical-align: initial;
    font-weight: 600;
    text-transform: uppercase;
}
h4.sisw_heading-section {
    text-align: center;
    margin: 10px 0 15px;
    background: rgb(245,245,245);
    color: #0073aa;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 500;
}
.sisw_admin_image_preview{
    /*display: none;*/
    width: 25px;
    height: 25px;
    vertical-align: top;
}
.sisw_admin_image_preview.active{
    display: inline-block;
}
.sisw_individual_image_section input.sisw_image_input_field {
    width: 100%;
}
span.sisw_drag_Section {
    cursor: move;
}
.widget-content a.sisw_remove_field_upload_media_widget {
    font-size: 20px;
    text-decoration: none;
    margin-left: 5px;
    background: rgb(255,0,0);
    color: #fff;
    padding: 0px 5px;
    line-height: 20px;
    vertical-align: sub;
}
table.sisw_multi_image_slider_table_wrapper {
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 9px;
    margin-top: 9px;
    width: 100%;

}
table.sisw_multi_image_slider_table_wrapper tr{
 width: 100%;   
}

.sisw_slider_options_section {
    display: block;
    width: 100%;
    padding: 10px 0 0;
}
.sisw_slider_options_section label {
    font-size: 13px;
    text-transform: capitalize;
    display: inline-block;
    min-width: 69px;
    font-weight: 500;
}
.sisw_slider_options_section input[type="radio"] {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
}
.sisw_slider_options_section select {
    width: 100%;
    margin-top: 6px;
}
.sisw_multi_image_slider_setting {
    background: #f4f4f4;
    padding: 15px;
    margin: 15px 0;
}
.sisw_multi_image_slider_setting h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 !important;
}
.sisw_multi_image_slider_table_wrapper .sisw_individual_image_section span.drag_Section {
    vertical-align: initial;
    padding-right: 6px;
    cursor: pointer;
}

html .widget-content .sisw_remove_field_upload_media_widget{
    margin: 0;
    display: block;
    text-align: center;
    padding: 17px 5px;
}

.sisw_individual_image_section 
{
    background-color: #eee;
}


.menu-select-nav select{
    width: 164px;
}

.urlOptions select{
    width: 164px;    
}

.banner-social-media-strip{
    text-align: center;
    background: #ccc;
    padding: 5%;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 4%;
}

    
 