
/*******************************************************************
*                        header styles                             *
*******************************************************************/
.header {
    position: fixed;
    top: 0;
    transition: .5s;
    height: 180px;
    width: 100%;
    z-index: 9999;
}

.header.shrink {
    height: 75px;
    background: #fff;
    transition: .5s;
}

.mainLogo {
    position: relative;
    bottom: 10px;
    width: 200px;
    left: 3%;
    padding: 0 0 0 1%;
    float: left;
    transition: 0.5s;
    z-index: 9;
}

.mainLogo.shrink{
    width: 180px;
    transition: 0.5s;
}

.headerNav {
    position: fixed;
    top: 10px;
    left: 3.5%;
    width: 100%;
    background: transparent;
    transition: 0.5s;
}

.headerNav.shrink {
    top: 5px;
    transition: 0.5s;
}

.headerNav ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
    font-size: 18px;
    color: #000;
    margin-top: 5px;
}

.headerNav ul li {
    float: left;
}

.headerNav ul li a {
    display: block;
    padding: 10px 25px;
    font-size: .9em;
    letter-spacing: 1px;
    color: #000;
    margin: 0 10px;
}

.headerNav ul li a:hover {
    color: #000;
    text-decoration: none;
}

.headerNumber{
    position: relative;
    margin-top: 5px;
}

ul.menu li:hover{
    background: url(../img/menuUpTriangle.png) no-repeat;
    background-position: bottom;
    background-size: auto;
    padding-bottom: 10px;
}

ul.menu li.singleLink:hover {
    background: none;
}

.headerNav ul li a.downArrow::after {
    position: absolute;
    font:normal normal normal 14px/1 FontAwesome;
    content: '\f107 ';
    color: #000;
    margin-top: 4px;
    font-size: 16px;
    padding-left: 5px;
    font-weight: bold;
    z-index: 1;  
}

.headerNav ul li a:hover.downArrow::after{
/*    display: none;*/
}

.hoverEffect::before {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #49A942;
    transition: width .3s;
    position: relative;
    bottom: 25px;
}

.hoverEffect:hover::before{
    width: 100%;
}

.dropMenu{
    position: absolute;
    left: 5%;
    top: 58px;
    padding: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
    width: 70%;
    min-height: 450px;
    opacity: 0;
    /*display: none;*/
}

.headerNav ul li .dropMenu#solSubMenuShow .dropMenuList li .panelLeft{
    width: 50%;
    padding: 10px;
}

.headerNav ul.menu > li:hover > div.dropMenu{
    opacity: 1;
}

.headerNav ul.menu > li:hover > div.dropMenu.active{
    opacity: 1;
    display: block !important;
}

.headerNav ul li .dropMenu .dropMenuList{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    float: unset; 
    padding: 0;
}

.headerNav ul li .dropMenu .dropMenuList li{
    margin: 0;
    padding: 0;
}

.headerNav ul li .dropMenu .dropMenuList li a{
    color: #fff;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 5px 30px 5px 15px;
    width: 25%;
}

.headerNav ul.menu li:hover .dropMenu .dropMenuList li:hover .panelLeft, .headerNav ul li .dropMenu .dropMenuList li:hover{
    background: none;
}

.headerNav ul.menu li:hover .dropMenu .dropMenuList li a:hover{
    background: #474747;    
}

.headerNav ul li .dropMenu ul.dropMenuList li a:hover::after{
    position: absolute;
    font:normal normal normal 14px/1 FontAwesome;
    content: '\f105  ';
    color: #fff;
    margin-top: 4px;
    font-size: 18px;
    font-weight: bold;
    z-index: 1; 
    padding-left: 33%;
}

.headerNav ul ul li a{
    padding: 10px;
    color: #fff;
    font-family: 'DINPro-Std';
}

.headerNav ul ul .dropMenuPanel{
    background-color: #fff;
    width: 70%;
    vertical-align: top;
    border-radius: 0;
    position: absolute;
    right: 25px;
    top: 0px;
    margin: 0;
    display: none;
    float: unset;
    padding: 0;
    min-height: 100%;
}

.headerNav ul ul .dropMenuPanel.active{
    display: block;
}

.headerNav ul li .dropMenu .dropMenuList li .panelLeft{
    float: left;
    width: 80%;
    padding: 40px;
}

.panelLeft p{
    font-size: 14px;
}

.headerNav ul li .dropMenu .dropMenuList li .panelRight{
    float: left;
    width: 50%;
    padding: 10px;
    min-height: 350px;
    background-color: #f9f9f9;
}

.headerNav ul ul ul ul{
    position: absolute;
}

.headerNav ul ul ul .panelRight ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    float: unset;
    padding: 0;
}

.headerNav ul li .dropMenu#solSubMenuShow .dropMenuList li a.aboutButton{
    width: 58%;
}

.headerNav ul li .dropMenu .dropMenuList li .panelRight li a{
    color: #AA427F;
    width: 100%;
    padding: 5px;
}

.headerNav ul ul li a.aboutButton{
    width: 60%;
    border-radius: 50px;
    text-align: center; 
}

.panelLeft h3{
    font-size: 2.5rem;
}

.dropMenuLink.active{
    background: #474747;
}

.headerNav ul li .dropMenu .dropMenuList li a.dropMenuLink.active::after{
    position: absolute;
    content: "";
    display: block;
    font:normal normal normal 14px/1 FontAwesome;
    content: '\f105  ';
    top: 6px;
    font-size: 20px;
    left: calc(100% - 20px);
    font-weight: bold;
}

.headerNav ul li .dropMenu .dropMenuList li a.aboutButton{
    width: 45%;
    padding: 10px;
    margin: 0;
}

.active{
    display: block;
}


.headerNav ul ul{
    position: absolute;
}

.hamburgerMenu {
    position: relative;
    top: 20px;
    left: 10px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #49A942;
    margin: 5px 0;
    transition: 0.4s;
}

.headerLang, .headerSeach{
    position: relative;
    top: 15px;
    cursor: pointer;
}

.headerLang select{
    border: none;
    font-size: 16px;
    background: transparent;    
    cursor: pointer;
}

.headerNav ul li div.headerNumber a:hover{
    color: #49A942; 
}

.headerNav ul li:hover .dropMenu ul.dropMenuList li .panelRight li a:hover{
    color: #49A942;
    background: transparent;
}

.headerNav ul li .dropMenu ul.dropMenuList li .panelRight li a:hover::after{
    display: none;
}

/*******************************************************************
*                        mobile styles                        *
*******************************************************************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
    background: #D1D1D1;
}

.activePage{
    margin-top: 15px;
    text-transform: capitalize;
    color: #000;
    font-size: 26px;
    font-weight: 400;
}

.openNav {
    display: none;
    position: fixed;
    right: 2%;
    top: 1%;
    color: #49A942;
    font-size: 30px;
    cursor: pointer;
    z-index: 9999;
}

.openNav.shrink{
     color: #2DA3A9;
}

.sidenav a.activeNav {
    
}

.sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 15px;
    font-size: 2.5rem;
    color: #49A942;
}

.sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.mobileMainMenu{
    position: relative;
    margin-top: 15%;
}

ul.mobileMainMenu h2{
    font-size: 1.2rem;
}

ul.mobileMainMenu li{
    padding: 12px;
    background: #49A942;
    border-top: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff;
}

ul.mobileMainMenu li:first-child{
    border-top: 2px solid #fff;
}
ul.mobileMainMenu li:last-child{
    border-bottom: 2px solid #fff;
}

ul.mobileMainMenu li .menuIcon::after{
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f105 ';
    color: #fff;
    font-size: 2rem;
    right: 15px;
}

ul.mobileMainMenu li a{
    color: #fff;
}

ul.mobileMainMenu li a i{
    padding-left: 20px;
}

#mobileMenuScreen{
    background: rgba(0,0,0,.5) 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    will-change: transform;
}

body.mobileMenuScreen #mobileMenuScreen{
    display: block;
    z-index: 900;
}

body#mobileBG.noScroll{
    overflow: hidden;
}

.sidenav .mobileMainMenu .subMenu{
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    right: -325px;
    width: 325px!important;
    background-color: #49A942;
    transition: right .3s ease;
    z-index: 1;
}

.sidenav .mobileMainMenu .subMenu.active{
    right: 0;
    display: block;
}

.backButton{
    position: absolute;
    content: '\f104';
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
    color: #000;
    font: normal normal normal 14px/1 FontAwesome;
}


/********** hamburger menu style css **************/

.hamMegaMenu{
    position: relative;
    width: 100%;  
    display: none;
    margin-top: 3.1%;
}

.hamMegaMenu ul{
    list-style: none;
    padding: 0;
    
}

.hamMegaMenuOption{
    position: relative;
    justify-content: space-between;
}

.hamMegaMenuList{
    background: #D1D1D1;    
    width: 30%;
    margin-right: 20px;
    height: 100%;
}

.hamMegaMenuList  ul{
    padding: 15% 0 0;
}

.hamMegaMenuList li{
    margin-bottom: 15px;
    white-space: nowrap;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 15px 10px;
}

.hamMegaMenuList li a{
    margin-left: 23%;
}

.hamMegaMenuList ul li a.menuActive{
    color: #48A742;
    font-weight: bold;
}


.hamMegaMenuList li:nth-child(1){
    margin-bottom: 30px; 
    position: relative;
    left: 60px;
    font-size: 2rem;
}

.hamMegaMenuList li:nth-child(1):hover{
    background: transparent;
    color: #000;
    cursor: text;
}

.hamMegaMenuList ul li:nth-child(1):hover::after{
    content: '';    
}

.hamMegaMenuList li:last-child{
    margin-bottom: 190px;
}

.hamMegaMenuList ul li:hover, .hamMegaMenuList ul li a:hover{
    background: #48A742;
    color: #fff;
    text-decoration: none;
}

.hamMegaMenuList ul li:hover::after{   
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f105 ';
    padding-left: 8%;
    color: #fff;
    font-size: 2rem;
}

.hamMegaMenuList li.active{
    background: #48A742;
    color: #fff;
}

.hamMegaMenuList li.active a{
    color: #fff;
}

.hamMegaMenuList li.active a:hover{
    text-decoration: none;
    color: #fff;
}

.hamMegaMenuList li.active::after{
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f105 ';
    padding-left: 8%;
    color: #fff;
    font-size: 2rem;    
}

.hamMegaMenuContanier{
    position: relative;
    margin: 5% 0 0;
    width: 80%;
}

.hamMegaMenuContanier h2{
    font-size: 3rem;
}

.hamMenuListColumn{
    position: relative;
    justify-content: space-around;
    margin: 2% 0 0;
}

.hamMenuLinks{
    position: relative;
    width: 30%;
}

.hamMenuLinks h2{
    margin-bottom: 25px;
}

.hamMenuLinks h2 a:hover{
    color: #48A742;
    text-decoration: none;
}

.hamMenuLinks ul{
    padding-left: 5px;  
}

.hamMenuLinks li{
    font-size: 1.2rem;   
    margin-bottom: 20px;
}

.hamMenuLinks li a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #000;
}

.hamMenuLinks li a.active{
    text-decoration: underline;
}

.hamMenuImgSection{
    position: relative;
    width: 60%;
    margin: 10px 0 0;
}

.hamMenuImgSection h4{
    margin: 20px 0;
}

.hamMenuImgSection p{
    padding-right: 10%;
    line-height: 2;
}

/********** hamburger menu style end **************/

/**** header hamburger menu responsive style start ****/
@media only screen and (min-width: 1900px){
    
    .hamMegaMenu{
        margin-top: 2.5%;
    }
    .hamMegaMenuContanier{
        width: 90%; 
    }
}

@media only screen and (min-width: 2160px){
    .hamMegaMenuList{
        width: 48%;
    }
    .hamMenuLinks li{
        margin-bottom: 25px;
    }
    .hamMenuLinks h2{
        margin-bottom: 35px;    
    }
    
}

@media only screen and (min-width: 2560px){
    .hamMegaMenuList li:nth-child(1){
        left: 300px;
    }
    .hamMegaMenuList li{
        font-size: 2rem;
    }
    .hamMegaMenuList li a {
        margin-left: 36%;
    }
    .hamMegaMenuContanier {
        width: 80%;
        left: 50px;
    }
    .hamMenuLinks li{
        font-size: 1.8rem;
    }
    .hamMegaMenuContanier h2{
        font-size: 4rem;
    }
        
}

@media only screen and (min-width: 3840px){
    .hamMegaMenuList {
        width: 30%;
    }
    
    .hamMegaMenuList li:nth-child(1), .hamMegaMenuList li{
        font-size: 3.5rem;
        margin-bottom: 50px;
    }
    .hamMegaMenuList li.active::after, .hamMegaMenuList ul li:hover::after{
        font-size: 4.5rem;
    }
    .hamMenuLinks h2{
        font-size: 8rem;
    }
    .hamMenuLinks li{
        font-size: 3rem;
    }
    .hamMegaMenuContanier{
        margin: 3% 0 0;
    }
    .hamMenuImgSection {
        width: 50%;
    }
    .hamMenuImgSection h4{
        font-size: 3rem;
    }
    .hamMenuImgSection p{
        font-size: 24px;
        padding-right: 35%;
    }
    
}

@media only screen and (max-width: 1700px){
    
    
}


@media only screen and (max-width: 1600px){
    
       
    
}

@media only screen and (max-width: 1550px){
     
}


@media only screen and (max-width: 1440px){
   
    .hamMegaMenu{
        margin-top: 3.5%;
    }
}


@media only screen and (max-width: 1370px){

    .hamMegaMenu{
        margin-top: 3.5%;
    }
    
    .headerNav ul li a{
        padding: 15px;
    }
   
}


@media only screen and (max-width: 1280px){
   .hamMegaMenu{
        margin-top: 3.6%;
    }
    
    .dropMenu{
        top: 48px;
    }
    
    .headerNav ul{
        margin-top: 0;
    }
    
    .mainLogo{
        width: 175px;
        left: 4%;
    }
    
    .hamburgerMenu{
        top: 23px;
        left: 15px;
    }
    
    .headerNav ul li .dropMenu .dropMenuList li .panelLeft{
        padding: 30px;
    }
    
    .dropMenu{
        width: 80%;
    }
    
}


@media only screen and (max-width: 1116px){ 
    
    
    .hamMegaMenu {
        margin-top: 3.4%;
    }
    
    .headerNav ul{
        margin-right: 55px;
    }
    
    .headerNav ul li a{
        padding: 8px;
    }
    
    .headerLang, .headerSeach{
        top: 8px;
    }
    
    .mainLogo{
        width: 155px;
        left: 4%;
    }
    
    .homeBannerMenu{
        width: 20%;
    }
    
    .hamburgerMenu{
        top: 20px;
    }
    
}


@media only screen and (max-width: 1024px){
    .hamburgerMenu, .hamMegaMenu {
/*        display: none;*/
    }
    
    .headerNav ul li a{
        padding: 4px;
    }
    
    .headerLang, .headerSeach {
        top: 8px;
    }
    
    .hamMegaMenu {
        margin-top: 3.8%;
    }
    
    .hamMegaMenuList{
        width: 35%;
    }
    
    .hamMegaMenuList li:nth-child(1){
        left: 40px;
    }
    
}

@media only screen and (max-width: 900px){
 
    .headerNav{
        display: none;
    }
    
    .hamburgerMenu{
        left: 95%;
        display: none;
    }
    
    .mainLogo{
        bottom: 0;
        top: 20px;
        left: 2%;
    }
    
    .sidenav, .openNav{
        display: block;
    }
    
    .header{
        height: 80px;
    }
}

@media only screen and (max-width: 836px){
    
}

@media only screen and (max-width: 768px){
 
    
}

@media only screen and (max-width: 500px){
 
    
}


@media only screen and (max-width: 450px){
    
    
}


@media all and (min-width: 1025px) and (max-width: 1280px) {
 
    
  
}

@media (min-width: 835px) and (max-width: 1115px) and (orientation: landscape) {
  
  
}


@media only screen and (min-device-width : 440px) and (max-device-width : 896px) and (orientation : landscape){ 
  

    
}

@media only screen and (max-width: 415px){

     
}

@media only screen and (min-device-width : 414px) and (max-device-width : 737px) and (orientation : landscape){ 
   
}


@media only screen and (max-width: 376px){
    
   
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (orientation : landscape){ 
    
   
}
/**** header hamburger  menu responsive style end ****/
